Repository movahedan/turbo-bun: changes, and which lefthook commands are due for each by the changed paths.
All: check, typescript

lefthook.yml:

# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,md,mdx,yaml,yml}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{ts,tsx}"
      run: bun run check:types --affected

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    branch-name:
      run: bun run scripts/check-branch-name.ts
    check:
      run: bun run check:quick

docs: update documentation to reflect recent implementation changes
  README.md
  docs/2_SETUP_FLOWS.md
  docs/3_DEV_FLOWS.md
  docs/5_DOCKER.md
Due: check

docs: add environment configuration strategy to setup flows
  docs/2_SETUP_FLOWS.md
Due: check

chore: switch to 'bun test' globally and cleanup configuration
  .dockerignore
  .github/workflows/release.yml
  .gitignore
  apps/api/package.json
  bunfig.toml
  lefthook.yml
  package.json
  packages/logger/package.json
  packages/ui/bunfig.toml
  packages/ui/package.json
  packages/ui/turbo.json
  packages/utils/package.json
  packages/utils/turbo.json
  scripts/update-package-json.ts
Due: check, typescript

wip
  .changeset/config.json
  .github/workflows/release-check.yml
  .github/workflows/release-cronjob.yml
  .github/workflows/release-pr.yml
  docs/3_DEV_FLOWS.md
  docs/8_CHANGESETS_VERSIONING.md
  docs/9_CUSTOM_VERSION_MANAGEMENT.md
  package.json
  scripts/version.ts
Due: check, typescript

feat: implement clico CLI system with type fixes
  scripts/example-clico.ts
  scripts/utils/clico.d.ts
  scripts/utils/clico.ts
Due: check, typescript

wip
  .changeset/config.json
  .github/workflows/release-check.yml
  .github/workflows/release-cronjob.yml
  .github/workflows/release-pr.yml
  docs/3_DEV_FLOWS.md
  docs/8_CHANGESETS_VERSIONING.md
  docs/9_CUSTOM_VERSION_MANAGEMENT.md
  package.json
  scripts/utils/version-utils.ts
  scripts/version-add.ts
  scripts/version-commit.ts
  scripts/version-init.ts
  scripts/version-push.ts
Due: check, typescript

feat(root): implement automated version management with dynamic scopes
  .devcontainer/devcontainer.json
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  .github/workflows/release-check.yml
  .github/workflows/release-cronjob.yml
  .github/workflows/release-pr.yml
  apps/admin/CHANGELOG.md
  apps/admin/package.json
  apps/api/CHANGELOG.md
  apps/api/package.json
  apps/storefront/CHANGELOG.md
  apps/storefront/package.json
  bun.lock
  commitlint.config.ts
  docs/8_CHANGESETS_VERSIONING.md
  docs/9_CUSTOM_VERSION_MANAGEMENT.md
  package.json
  packages/config-typescript/CHANGELOG.md
  packages/config-typescript/package.json
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/test-preset/package.json
  packages/ui/CHANGELOG.md
  packages/ui/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  scripts/affected.ts
  scripts/local-vscode.ts
  scripts/utils/get-all-directories.ts
  scripts/version-add-auto.ts
  scripts/version-add.ts
  scripts/version-commit.ts
  scripts/version-init.ts
  scripts/version-push.ts
Due: check, typescript

refactor(root): remove arg-parser and move it to create-scripts
  .cursor/rules/script-development.md
  docs/4_SCRIPTING.md
  docs/planning/17_DEVCONTAINER_EXECUTION_SCRIPT.md
  scripts/ci-branchname.ts
  scripts/ci-check.ts
  scripts/dev-check.ts
  scripts/dev-cleanup.ts
  scripts/dev-rm.ts
  scripts/dev-setup.ts
  scripts/example-script.ts
  scripts/local-cleanup.ts
  scripts/local-setup.ts
  scripts/update-package-json.ts
  scripts/utils/arg-parser.ts
  scripts/utils/create-scripts.ts
  scripts/version-commit.ts
Due: check, typescript

feat: implement git tag-based versioning and deployment system
  .devcontainer/docker-compose.dev.yml
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  .github/workflows/Version.yml
  apps/storefront/package.json
  apps/storefront/scripts/install-swc-binary.ts
  docs/9_VERSIONING_DEPLOYMENT.md
  package.json
  scripts/affected.ts
  scripts/ci-attach-affected.ts
  scripts/local-vscode.ts
  scripts/utils/create-scripts.ts
  scripts/utils/version-utils.ts
  scripts/version-add-auto.ts
  scripts/version-commit.ts
Due: check, typescript

chore: improve logs
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  scripts/affected.ts
  scripts/ci-attach-service-ports.ts
Due: check, typescript

fix(root): version pipeline
  .github/workflows/Version.yml
  package.json
  scripts/utils/create-scripts.ts
  scripts/version-commit.ts
Due: check, typescript

refactor: rename config-typescript to typescript-config for consistency
  .changeset/config.json
  .devcontainer/devcontainer.json
  bun.lock
  packages/config-typescript/package.json
  packages/typescript-config/TSCONFIG.md
  packages/typescript-config/base.json
  packages/typescript-config/nextjs.json
  packages/typescript-config/package.json
  packages/typescript-config/react-app.json
  packages/typescript-config/react-library.json
  packages/typescript-config/vite.json
  scripts/version-add-auto.ts
Due: check, typescript

fix: add auto-ignore logic to version-commit script
  scripts/version-add-auto.ts
  scripts/version-commit.ts
Due: check, typescript

fix: add version fields to utility packages and update versioning logic
  packages/logger/package.json
  packages/test-preset/package.json
  packages/typescript-config/package.json
  packages/utils/package.json
  scripts/version-add-auto.ts
  scripts/version-commit.ts
Due: check, typescript

fix: add write permissions to version workflow
  .github/workflows/Version.yml
Due: check

fix: add commit step to version pipeline
  scripts/version-commit.ts
Due: check, typescript

fix: add git user config for github actions
  scripts/version-commit.ts
Due: check, typescript

fix: ensure version pipeline always pushes changes
  .github/workflows/Version.yml
  scripts/version-commit.ts
Due: check, typescript

fix: configure git authentication with personal access token
  .github/workflows/Version.yml
  scripts/version-commit.ts
Due: check, typescript

feat: add debugging logs for git authentication
  scripts/version-commit.ts
Due: check, typescript

fix: properly construct git remote url with token authentication
  scripts/version-commit.ts
Due: check, typescript

fix: simplify git authentication with direct token in remote url
  scripts/version-commit.ts
Due: check, typescript

feat: implement working github actions authentication for versioning
  scripts/version-commit.ts
Due: check, typescript

refactor: version flow
  .github/workflows/Version.yml
  package.json
  scripts/utils/changeset-parser.ts
  scripts/utils/get-all-directories.ts
  scripts/utils/version-utils.ts
  scripts/version-add-auto.ts
  scripts/version-commit.ts
Due: check, typescript

fix: resolve javascript hoisting issue in version-commit script
  scripts/affected.ts
  scripts/version-commit.ts
Due: check, typescript

style(root): change biome formatter linewidth => 100
  .devcontainer/devcontainer.json
  apps/admin/src/app/login.tsx
  biome.json
  packages/test-preset/matchers.d.ts
  packages/ui/.storybook/main.ts
  packages/ui/scripts/dev.ts
  packages/ui/src/button/button.stories.tsx
  packages/ui/src/button/button.test.tsx
  packages/ui/src/button/button.tsx
  packages/ui/src/card/card.stories.tsx
  packages/ui/src/card/card.test.tsx
  packages/ui/src/card/card.tsx
  packages/ui/src/counter-button/counter-button.stories.tsx
  packages/ui/src/input/input.stories.tsx
  packages/ui/src/input/input.tsx
  packages/ui/src/label/label.tsx
  packages/ui/src/link/link.test.tsx
  packages/ui/src/link/link.tsx
  packages/ui/src/login-form/login-form.test.tsx
  packages/ui/src/login-form/login-form.tsx
  packages/utils/src/cn.test.ts
  scripts/affected.ts
  scripts/ci-attach-affected.ts
  scripts/ci-attach-service-ports.ts
  scripts/ci-branchname.ts
  scripts/ci-check.ts
  scripts/dev-check.ts
  scripts/dev-cleanup.ts
  scripts/dev-rm.ts
  scripts/dev-setup.ts
  scripts/example-script.ts
  scripts/local-cleanup.ts
  scripts/local-setup.ts
  scripts/local-vscode.ts
  scripts/update-package-json.ts
  scripts/utils/create-scripts.ts
  scripts/utils/docker-compose-parser.ts
  scripts/version-commit.ts
  turbo.json
Due: check, typescript

refactor(root): use bun file api as much as possible
  commitlint.config.ts
  package.json
  scripts/affected.ts
  scripts/example-script.ts
  scripts/local-cleanup.ts
  scripts/local-vscode.ts
  scripts/update-package-json.ts
  scripts/utils/changeset-parser.ts
  scripts/utils/docker-compose-parser.ts
  scripts/utils/get-all-directories.ts
  scripts/version-commit.ts
Due: check, typescript

perf(root): remove chalk form repo, write colorify instead
  package.json
  packages/test-preset/package.json
  packages/test-preset/test-config.ts
  packages/ui/package.json
  packages/ui/scripts/dev.ts
  scripts/dev-check.ts
  scripts/dev-cleanup.ts
  scripts/dev-rm.ts
  scripts/dev-setup.ts
  scripts/local-cleanup.ts
  scripts/local-setup.ts
  scripts/update-package-json.ts
  scripts/utils/colorify.ts
Due: check, typescript

chore(root): rename script/utils => script/scripting-utils
  commitlint.config.ts
  scripts/affected.ts
  scripts/ci-attach-affected.ts
  scripts/ci-attach-service-ports.ts
  scripts/ci-branchname.ts
  scripts/ci-check.ts
  scripts/dev-check.ts
  scripts/dev-cleanup.ts
  scripts/dev-rm.ts
  scripts/dev-setup.ts
  scripts/example-script.ts
  scripts/local-cleanup.ts
  scripts/local-setup.ts
  scripts/local-vscode.ts
  scripts/scripting-utils/changeset-parser.ts
  scripts/scripting-utils/colorify.ts
  scripts/scripting-utils/create-scripts.ts
  scripts/scripting-utils/docker-compose-parser.ts
  scripts/scripting-utils/get-all-directories.ts
  scripts/update-package-json.ts
  scripts/version-commit.ts
Due: check, typescript

chore: just none-sense improvements haha
  .github/workflows/Check.yml
  package.json
  scripts/ci-attach-affected.ts
  scripts/ci-branchname.ts
  scripts/ci-check.ts
  scripts/dev-check.ts
  scripts/dev-setup.ts
  scripts/scripting-utils/affected.ts
  scripts/version-commit.ts
Due: check, typescript

refactor(root): delete logger package and move it to utils
  README.md
  apps/admin/package.json
  apps/api/package.json
  apps/api/src/index.ts
  apps/storefront/package.json
  apps/storefront/src/app/page.tsx
  docs/3_DEV_FLOWS.md
  docs/8_CHANGESETS_VERSIONING.md
  docs/TESTING.md
  docs/planning/11_ENTERPRISE_ENV_IMPLEMENTATION.md
  packages/logger/CHANGELOG.md
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/logger/turbo.json
  packages/utils/package.json
  packages/utils/src/logger.test.ts
  packages/utils/src/logger.ts
Due: check, typescript

refactor(root): get-all-directories
  .devcontainer/devcontainer.json
  biome.json
  bun.lock
  commitlint.config.ts
  scripts/local-cleanup.ts
  scripts/local-vscode.ts
  scripts/scripting-utils/affected.ts
  scripts/scripting-utils/get-all-directories.ts
Due: check, typescript

feat(root): create ci-staged script
  lefthook.yml
  package.json
  scripts/ci-staged.ts
  scripts/scripting-utils/create-scripts.ts
Due: check, typescript

feat(root): add comprehensive commit workflow and update documentation structure
  .cursor/rules/commit-and-documentation-workflow.mdc
  .cursor/rules/read-the-doc.mdc
  .cursor/rules/script-development.md
  README.md
  docs/2_SETUP_FLOWS.md
  docs/3_DEV_FLOWS.md
  docs/4_SCRIPTING.md
  docs/7_AUTO_VERSIONING.md
  docs/8_CHANGESETS_VERSIONING.md
  docs/9_VERSIONING_DEPLOYMENT.md
  docs/AI_Prompt.md
  docs/AI_REPORT.md
  docs/TESTING.md
Due: check

docs(root): reorganize documentation and add commit workflow
  .cursor/rules/commit-and-documentation-workflow.mdc
  .cursor/rules/read-the-doc.mdc
  .cursor/rules/script-development.md
  README.md
  docs/2_SETUP_FLOWS.md
  docs/3_DEV_FLOWS.md
  docs/4_SCRIPTING.md
  docs/7_AUTO_VERSIONING.md
  docs/8_CHANGESETS_VERSIONING.md
  docs/9_VERSIONING_DEPLOYMENT.md
  docs/AI_Prompt.md
  docs/AI_REPORT.md
  docs/TESTING.md
Due: check

fix(root): improve git command output handling and version tag logic
  scripts/scripting-utils/affected.ts
  scripts/version-commit.ts
Due: check, typescript

docs(root): :fire: create a nice readme.md xd
  README.md
Due: check

feat(root): update admin and ui nginx to use envs
  apps/admin/Dockerfile
  apps/admin/nginx.conf
  apps/api/Dockerfile
  packages/ui/nginx.conf
Due: none

chore: update rules
  .cursor/rules/commit-and-documentation-workflow.mdc
Due: none

refactor(root): prepare repo scripts for installing a new app
  .devcontainer/setup-docker.sh
  bunfig.toml
  docker-compose.yml
  scripts/local-cleanup.ts
  scripts/scripting-utils/create-scripts.ts
  turbo.json
Due: check, typescript
