Repository movahedan/turbo-bun: changes, and which lefthook commands are due for each by the changed paths.
All: staged, types

lefthook.yml:

# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    staged:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,md,mdx,yaml,yml}"
      run: bun run check:staged && bun biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    types:
      glob: "*.{ts,tsx}"
      run: bun run check:types --affected

commit-msg:
  commands:
    commitlint:
      run: bun commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    branch-name:
      run: bun scripts/ci-branchname.ts
    staged:
      run: bun run check:staged
    check:
      run: bun check
    test:
      run: bun test
    build:
      run: bun run build --affected

fix(root): update ci-staged to properly ignore new package.json files
  scripts/ci-staged.ts
Due: staged, types

refactor(root): standardize user to runner-user and improve security
  apps/admin/Dockerfile
  apps/docs-astro/Dockerfile
  apps/docs-astro/package.json
  apps/storefront/Dockerfile
  bun.lock
  docker-compose.yml
  packages/ui/Dockerfile
Due: staged

refactor(root): standardize user to runner-user and improve security
  .devcontainer/Dockerfile.dev
  .devcontainer/Dockerfile.vscode
  .devcontainer/devcontainer.json
  .devcontainer/setup-docker.sh
  lefthook.yml
  scripts/scripting-utils/get-all-directories.ts
Due: staged, types

fix(admin,docs-astro,@repo/ui): set nginx user as runner
  apps/admin/Dockerfile
  apps/docs-astro/Dockerfile
  packages/ui/Dockerfile
Due: none

fix(root): check.yml deps issue
  .github/workflows/Check.yml
  docker-compose.yml
Due: staged

refactor(root): replace changesets with custom version management
  .changeset/README.md
  .changeset/config.json
  scripts/README.md
  scripts/ci-attach-affected.ts
  scripts/ci-attach-service-ports.ts
  scripts/ci-branchname.ts
  scripts/ci-check.ts
  scripts/ci-staged.ts
  scripts/dev-check.ts
  scripts/dev-cleanup.ts
  scripts/dev-rm.ts
  scripts/dev-setup.ts
  scripts/example-script.ts
  scripts/local-cleanup.ts
  scripts/local-setup.ts
  scripts/local-vscode.ts
  scripts/package.json
  scripts/scripting-utils/affected.ts
  scripts/scripting-utils/changeset-parser.ts
  scripts/scripting-utils/docker-compose-parser.ts
  scripts/scripting-utils/get-all-directories.ts
  scripts/shell/changelog-generator.test.ts
  scripts/shell/changelog-generator.ts
  scripts/shell/colorify.ts
  scripts/shell/create-scripts.ts
  scripts/shell/repo-utils.ts
  scripts/shell/version-utils.test.ts
  scripts/shell/version-utils.ts
  scripts/update-package-json.ts
  scripts/version-bump.ts
  scripts/version-changelog.ts
  scripts/version-commit.ts
  scripts/version-tag.ts
  scripts/version.ts
Due: staged, types

docs(root): update documentation for new version management system
  .cursor/rules/commit-and-documentation-workflow.mdc
  docs/3_DEV_FLOWS.md
  docs/4_SCRIPTING.md
  docs/7_AUTO_VERSIONING.md
  docs/8_NGINX_DEBUGGING.md
Due: staged

refactor(root): update build configuration and generated files
  .devcontainer/devcontainer.json
  .github/workflows/GitHubPages.yml
  CHANGELOG.md
  apps/admin/CHANGELOG.md
  apps/api/CHANGELOG.md
  apps/docs-astro/CHANGELOG.md
  apps/storefront/CHANGELOG.md
  bun.lock
  commitlint.config.ts
  docs/planning/18_CHANGELOG_MANAGEMENT.md
  package.json
  packages/test-preset/CHANGELOG.md
  packages/typescript-config/CHANGELOG.md
  packages/ui/CHANGELOG.md
  packages/utils/CHANGELOG.md
Due: staged, types

feat(root): add InteractiveCLI with callback-based key handling
  scripts/shell/interactive-cli.ts
Due: staged, types

refactor(root): consolidate commit parsing logic into shared utilities
  scripts/shell/changelog-generator.ts
  scripts/shell/commit-utils.ts
  scripts/shell/version-utils.ts
Due: staged, types

refactor(root): merge step manager into commit-interactive and remove unnecessary complexity
  scripts/commit-interactive.ts
Due: staged, types

feat(root): add commit-check and commit-staged-check scripts to replace external commitlint dependencies
  scripts/commit-check.ts
  scripts/commit-staged-check.ts
Due: staged, types

chore(root): remove legacy CI scripts and commitlint config
  commitlint.config.ts
  scripts/ci-branchname.ts
  scripts/ci-staged.ts
Due: staged, types

chore(root): remove commitlint dependencies and update scripts
  bun.lock
  package.json
Due: staged

refactor(root): update lefthook and ci workflows
  .github/workflows/Check.yml
  lefthook.yml
Due: staged

test(root): check if package list output is fixed
  scripts/shell/repo-utils.ts
Due: staged, types

chore(root): exclude scripts directory from test coverage
  bunfig.toml
  package.json
  scripts/README.md
  scripts/package.json
  scripts/shell/changelog-generator.test.ts
  scripts/shell/version-utils.test.ts
Due: staged, types

fix: replace vulnerable regex patterns with trimEnd() to prevent ReDoS attacks
  scripts/shell/version-utils.ts
Due: staged, types

wip: recovery
  docs/MIGRATION_PLAN.md
  lefthook.yml
  package.json
  scripts/README.md
  scripts/ci-act.ts
  scripts/ci-attach-affected.ts
  scripts/ci-attach-service-ports.ts
  scripts/commit-check.ts
  scripts/commit-interactive.ts
  scripts/commit-staged-check.ts
  scripts/commit.ts
  scripts/dev-check.ts
  scripts/dev-setup.ts
  scripts/entities/affected.ts
  scripts/entities/changelog-manager.ts
  scripts/entities/changelog.ts
  scripts/entities/commit.ts
  scripts/entities/commit.types.ts
  scripts/entities/compose.ts
  scripts/entities/index.ts
  scripts/entities/package-json.ts
  scripts/entities/tag.ts
  scripts/entities/workspace.ts
  scripts/local-vscode.ts
  scripts/shell/changelog-generator.ts
  scripts/shell/commit-utils.ts
  scripts/shell/interactive-cli.ts
  scripts/shell/repo-utils.ts
  scripts/shell/version-utils.ts
  scripts/version-apply.ts
  scripts/version-bump.ts
  scripts/version-changelog.ts
  scripts/version-ci.ts
  scripts/version-commit.ts
  scripts/version-prepare.ts
  scripts/version-tag.ts
  scripts/version.ts
Due: staged, types

docs(root): update documentation for new entity-based version management
  docs/3_DEV_FLOWS.md
  docs/7_AUTO_VERSIONING.md
  docs/MIGRATION_PLAN.md
Due: staged

feat(root): implement entity-based architecture for version management
  scripts/entities/affected.ts
  scripts/entities/changelog-manager.ts
  scripts/entities/changelog.ts
  scripts/entities/commit.ts
  scripts/entities/commit.types.ts
  scripts/entities/compose.ts
  scripts/entities/index.ts
  scripts/entities/package-json.ts
  scripts/entities/tag.ts
  scripts/entities/workspace.ts
  scripts/shell/cli-tools.ts
Due: staged, types

feat(root): add new version management scripts with entity-based architecture
  scripts/version-apply.ts
  scripts/version-ci.ts
  scripts/version-prepare.ts
Due: staged, types

refactor(root): update existing scripts for new entity-based architecture
  scripts/README.md
  scripts/ci-act.ts
  scripts/ci-attach-affected.ts
  scripts/ci-attach-service-ports.ts
  scripts/commit-check.ts
  scripts/commit.ts
  scripts/dev-check.ts
  scripts/dev-setup.ts
  scripts/local-vscode.ts
  scripts/shell/interactive-cli.ts
Due: staged, types

chore(root): update dependencies and configuration for new architecture
  bun.lock
  lefthook.yml
  package.json
Due: staged

refactor(root): remove old version management scripts and utilities
  scripts/ci-check.ts
  scripts/commit-interactive.ts
  scripts/commit-staged-check.ts
  scripts/shell/changelog-generator.ts
  scripts/shell/commit-utils.ts
  scripts/shell/repo-utils.ts
  scripts/shell/version-utils.ts
  scripts/version-bump.ts
  scripts/version-changelog.ts
  scripts/version-commit.ts
  scripts/version-tag.ts
  scripts/version.ts
Due: staged, types

fix(root): attach affected script for turbo
  scripts/ci-attach-affected.ts
  scripts/entities/commit.types.ts
Due: staged, types

fix(root): regex vulnerability to super-linear runtime due to backtracking
  scripts/entities/commit.ts
  scripts/entities/commit.types.ts
Due: staged, types

fix(root): update branch name check command in CI configuration
  .github/workflows/Check.yml
  scripts/ci-attach-affected.ts
Due: staged, types

fix: changelog
  scripts/entities/changelog-manager.ts
  scripts/entities/changelog.ts
  scripts/entities/commit.ts
  scripts/version-prepare.ts
Due: staged, types

refactor: improve changelog and commit management entities
  scripts/entities/changelog-manager.ts
  scripts/entities/changelog.ts
  scripts/entities/commit.ts
  scripts/entities/commit.types.ts
  scripts/version-prepare.ts
Due: staged, types

refactor(root): extract PR handling and enhance commit types
  scripts/entities/commit.pr.ts
  scripts/entities/commit.ts
  scripts/entities/commit.types.ts
Due: staged, types

feat(root): enhance changelog generation and management
  scripts/entities/changelog-manager.ts
  scripts/entities/changelog.ts
Due: staged, types

perf(root): optimize package operations and simplify version management
  scripts/entities/package-json.ts
  scripts/version-apply.ts
  scripts/version-prepare.ts
Due: staged, types

refactor(root): update commit validation and check logic
  scripts/commit-check.ts
Due: staged, types

refactor: optimize getAffectedServices with single-pass processing
  scripts/entities/affected.ts
Due: staged, types

fix(scripts): secure regex patterns to prevent ReDoS attacks
  .cursor/rules/regex-practice.mdc
  scripts/entities/commit.pr.ts
  scripts/entities/commit.ts
Due: staged, types

refactor(scripts): eliminate commit type duplication
  scripts/commit.ts
Due: staged, types

refactor(scripts): remove duplicate quickActions arrays
  scripts/commit.ts
Due: staged, types

refactor(scripts): eliminate duplication in CLI tools
  scripts/entities/commit.types.ts
  scripts/shell/cli-tools.ts
  scripts/shell/interactive-cli.ts
Due: staged, types
