Repository movahedan/turbo-bun: changes, and which lefthook commands are due for each by the changed paths.
All: check, typescript

lefthook.yml:

# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,md,mdx,yaml,yml}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{ts,tsx}"
      run: bun run check-types

pre-push:
  parallel: true
  commands:
    branch-name:
      run: bun run scripts/check-branch-name.ts
    typescript:
      glob: "*.{ts,tsx}"
      run: bun run check-types
    test:
      run: bun run test
    build:
      run: bun run build

fix: dockerfiles
  Dockerfile.dev.base
  apps/admin/Dockerfile
  apps/admin/Dockerfile.dev
  apps/api/Dockerfile
  apps/api/Dockerfile.dev
  apps/blog/Dockerfile
  apps/blog/Dockerfile.dev
  apps/storefront/Dockerfile
  apps/storefront/Dockerfile.dev
Due: none

refactor(repo): devcontainer optimization
  .devcontainer/devcontainer.json
  .dockerignore
  DOCKER-OPTIMIZATION.md
  Dockerfile.dev
  Dockerfile.dev.base
  Dockerfile.vscode
  README.md
  apps/admin/vite.config.ts
  apps/admin/vite.d.ts
  apps/blog/vite.config.ts
  apps/storefront/next.config.ts
  apps/storefront/package.json
  bun.lock
  docker-compose.dev.yml
  package.json
Due: check, typescript

refactor: dev container setup
  .devcontainer/DEVCONTAINER-TROUBLESHOOTING.md
  .devcontainer/DOCKER-OPTIMIZATION.md
  .devcontainer/Dockerfile.dev
  .devcontainer/Dockerfile.vscode
  .devcontainer/README-docker.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  README.md
  apps/admin/Dockerfile.dev
  apps/admin/package.json
  apps/admin/vite.config.ts
  apps/api/Dockerfile.dev
  apps/api/src/index.ts
  apps/blog/Dockerfile.dev
  apps/blog/package.json
  apps/blog/vite.config.ts
  apps/storefront/Dockerfile.dev
  package.json
Due: check, typescript

docs(repo): add extensive docs for the repo
  .devcontainer/DEVCONTAINER-TROUBLESHOOTING.md
  .devcontainer/DOCKER-OPTIMIZATION.md
  .devcontainer/README-docker.md
  .devcontainer/devcontainer.json
  README.md
  docs/DEVCONTAINER.md
  docs/DEVCONVENTIONS.md
  docs/DEVFLOW.md
  docs/DOCKER.md
  package.json
Due: check

fix(storefront): install swc os specific library in postinstall
  apps/storefront/package.json
  apps/storefront/scripts/install-swc-binary.ts
Due: check, typescript

fix: typo
  docs/DEVCONTAINER.md
  package.json
Due: check

fix(repo): improve setup-docker in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .devcontainer/scripts/setup-docker.sh
  bun.lock
Due: check

feat(repo): refactor setup and cleanup scripts
  package.json
  scripts/setup/cleanup.dev.ts
  scripts/setup/cleanup.ts
  scripts/setup/setup.dev.ts
  scripts/setup/setup.ts
Due: check, typescript

feat(storefront): fix install-swc-library os compatibility
  apps/storefront/scripts/install-swc-binary.ts
Due: check, typescript

feat(repo): remove vscode setting duplication
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  scripts/sync-vscode-config.ts
Due: check, typescript

chore: update .gitignore to include tsconfig.tsbuildinfo and .vscode
  .gitignore
Due: none

fix: small improvements
  .devcontainer/devcontainer.json
  .devcontainer/setup-docker.sh
Due: check

docs(repo): update vscode sync doc
  README.md
  docs/DEVCONTAINER.md
Due: check

feat(repo): add vscode sync to setup and cleanup
  scripts/setup/cleanup.ts
  scripts/setup/setup.ts
Due: check, typescript

docs(repo): update docs
  docs/DEVCONTAINER.md
  docs/DEVFLOW.md
Due: check

docs(repo): add quality checklist documentation
  README.md
  docs/QUALITY_CHECKLIST.md
Due: check

fix: redos-resistant
  scripts/sync-vscode-config.ts
Due: check, typescript

feat: add healthcheck for all the apps and write test for devcontainers
  .devcontainer/Dockerfile.dev
  .devcontainer/docker-compose.dev.yml
  docs/AI_REPORT.md
  docs/DEVCONTAINER.md
  docs/QUALITY_CHECKLIST.md
  package.json
  scripts/setup/test-devcontainer.ts
Due: check, typescript

feat(ci): add docker-compose-validation
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .github/workflows/docker-compose-validation.yml
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/api/package.json
  apps/blog/Dockerfile
  apps/storefront/Dockerfile
  docker-compose.yml
  package.json
  packages/ui/Dockerfile
Due: check

feat(repo): fix prod problems by downgrading performance problem
  apps/blog/Dockerfile
  apps/blog/app/root.tsx
  apps/storefront/Dockerfile
  packages/logger/package.json
  packages/logger/tsconfig.json
  packages/ui/Dockerfile
  packages/ui/prebuild-utils.ts
  packages/ui/prebuild.ts
  packages/ui/tsconfig.json
  packages/utils/prebuild-utils.ts
  packages/utils/prebuild.ts
  packages/utils/tsconfig.json
Due: check, typescript

feat(repo): add docker-compose-validation in github actions
  .devcontainer/setup-docker.sh
  .github/workflows/docker-compose-validation.yml
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/tsconfig.json
  apps/storefront/package.json
  bun.lock
  lefthook.yml
  package.json
  scripts/setup/test-devcontainer.ts
  turbo.json
Due: check, typescript

fix(repo): remove dependencies as a work around ci fixing
  apps/api/src/index.ts
  apps/api/tsconfig.json
  apps/storefront/src/app/page.tsx
  turbo.json
Due: check, typescript

feat(repo): add create-script.ts for re-usable script creation
  README.md
  docs/0_QUALITY_CHECKLIST.md
  docs/1_DOCKER.md
  docs/2_DEVCONTAINER.md
  docs/3_DEVFLOW.md
  docs/4_DEVCONVENTIONS.md
  docs/5_SCRIPT_DEVELOPMENT_GUIDE.md
  scripts/check-branch-name.ts
  scripts/example-script.ts
  scripts/utils/arg-parser.ts
  scripts/utils/command-finder.ts
  scripts/utils/commands.ts
  scripts/utils/create-scripts.ts
Due: check, typescript

feat(repo): add check-pipelines to test github actions locally
  .devcontainer/setup-docker.sh
  .github/workflows/Check.yml
  .github/workflows/docker-compose-validation.yml
  .gitignore
  README.md
  biome.json
  docs/6_GITHUB_ACTIONS_TEST_LOCALLY.md
  package.json
  scripts/check-pipelines.ts
Due: check, typescript

fix(repo): chmod limit to 055 for copied resources
  apps/blog/Dockerfile
  apps/storefront/Dockerfile
  packages/ui/Dockerfile
Due: none

docs: update readme.md
  README.md
Due: check

refactor(repo): scripts directory structured changed a bit
  docs/5_SCRIPT_DEVELOPMENT_GUIDE.md
  package.json
  scripts/attach-affected-to-github-output.ts
  scripts/check-branch-name.ts
  scripts/check-devcontainer.ts
  scripts/check-pipelines.ts
  scripts/cleanup.ts
  scripts/example-script.ts
  scripts/setup.ts
  scripts/utils/affected.ts
  scripts/utils/command-finder.ts
  scripts/utils/config.ts
  scripts/utils/git-command.ts
Due: check, typescript

fix(repo): check and main workflows
  .github/workflows/Check.yml
  .github/workflows/Main.yml
Due: check

docs: update the doc for dev:checkup and small changes
  docs/0_QUALITY_CHECKLIST.md
  docs/2_DEVCONTAINER.md
  package.json
  scripts/check-devcontainer.ts
  scripts/cleanup.ts
Due: check, typescript

feat(repo): add test scripts
  .devcontainer/docker-compose.dev.yml
  apps/api/package.json
  bun.lock
  bunfig.toml
  docs/TESTING.md
  lefthook.yml
  package.json
  packages/logger/package.json
  packages/test-preset/package.json
  packages/test-preset/test-config.ts
  packages/test-preset/test-setup.ts
  packages/ui/package.json
  packages/utils/package.json
  scripts/check-devcontainer.ts
  turbo.json
Due: check, typescript

Update scripts/check-pipelines.ts
  scripts/check-pipelines.ts
Due: check, typescript

fix: add out to gitignore
  .gitignore
  packages/logger/src/index.ts
Due: check, typescript

fix: add out to gitignore
  .github/workflows/Check.yml
Due: check

fix: improve codebase
  apps/admin/src/app/index.tsx
  apps/storefront/src/app/page.tsx
  apps/storefront/src/components/CounterButtonWrapper.tsx
  packages/ui/README.md
  packages/ui/package.json
  packages/ui/tsconfig.build.json
  packages/ui/vite.config.ts
  scripts/build-workflow.ts
Due: check, typescript

docs: add some cursor rules
  .curosr/rules/any-inside-generic-functions.md
  .curosr/rules/default-exports.md
  .curosr/rules/discriminated-unions.md
  .curosr/rules/enums.md
  .curosr/rules/import-type.md
  .curosr/rules/installing-libraries.md
  .curosr/rules/interface-extends.md
  .curosr/rules/jsdoc-comments.md
  .curosr/rules/naming-conventions.md
  .curosr/rules/no-unchecked-indexed-access.md
  .curosr/rules/optional-properties.md
  .curosr/rules/readonly-properties.md
  .curosr/rules/return-types.md
  .curosr/rules/throwing.md
Due: check

docs(repo): add build-vite-library documentation
  README.md
  docs/7_BUILD_VITE_LIBRARY.md
  packages/ui/package.json
  scripts/build-vite-library.ts
Due: check, typescript

docs(repo): add renovate and sonarcube to readme
  README.md
  docs/1_DOCKER.md
  docs/2_DEVCONTAINER.md
  docs/3_DEVFLOW.md
  docs/4_DEVCONVENTIONS.md
  docs/6_GITHUB_ACTIONS_TEST_LOCALLY.md
  docs/8_RENOVATE.md
Due: check

docs(repo): update cursor rules
  .cursor/rules/any-inside-generic-functions.mdc
  .cursor/rules/default-exports.mdc
  .cursor/rules/discriminated-unions.mdc
  .cursor/rules/documentation-standards.mdc
  .cursor/rules/enums.mdc
  .cursor/rules/import-type.mdc
  .cursor/rules/installing-libraries.mdc
  .cursor/rules/interface-extends.mdc
  .cursor/rules/jsdoc-comments.mdc
  .cursor/rules/naming-conventions.mdc
  .cursor/rules/no-unchecked-indexed-access.mdc
  .cursor/rules/optional-properties.mdc
  .cursor/rules/readonly-properties.mdc
  .cursor/rules/return-types.mdc
  .cursor/rules/script-development.md
  .cursor/rules/throwing.mdc
  docs/5_SCRIPT_DEVELOPMENT_GUIDE.md
Due: check
