Repository movahedan/turbo-bun: changes, and which lefthook commands are due for each by the changed paths.
All: check, typescript

lefthook.yml:

# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,md,mdx,yaml,yml}"
      run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
      stage_fixed: true
    typescript:
      glob: "*.{ts,tsx}"
      run: bun run check-types

pre-push:
  parallel: true
  commands:
    branch-name:
      run: bun run scripts/check-branch-name.ts
    typescript:
      glob: "*.{ts,tsx}"
      run: bun run check-types
    test:
      run: bun run test
    build:
      run: bun run build

feat(repo): add commitlint - improve branchlint
  bun.lock
  commitlint.config.ts
  lefthook.yml
  package.json
  scripts/check-branch-name.ts
  scripts/git-command.ts
Due: check, typescript

ci(repo): add check, main, and _setup workflows
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  .github/workflows/_setup.yml
  .github/workflows/pr-release.yml
  .github/workflows/release.yml
Due: check

fix(repo): remove lint command
  .github/workflows/_setup.yml
  turbo.json
Due: check

feat(repo): :tada: dockerize everything
  .dockerignore
  .github/workflows/Main.yml
  apps/admin/Dockerfile
  apps/admin/nginx.conf
  apps/admin/package.json
  apps/api/Dockerfile
  apps/api/package.json
  apps/api/tsconfig.json
  apps/blog/Dockerfile
  apps/blog/package.json
  apps/blog/vite.config.ts
  apps/storefront/Dockerfile
  apps/storefront/package.json
  bun.lock
  docker-compose.yml
  package.json
  packages/ui/Dockerfile
  packages/ui/package.json
  scripts/cleanup.ts
  scripts/restart.ts
  scripts/run.ts
  scripts/start.ts
  scripts/stop.ts
  turbo.json
Due: check, typescript

fix(repo): quality gate errors
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/blog/Dockerfile
  apps/storefront/Dockerfile
  packages/ui/Dockerfile
Due: none

fix(repo): update renovate to understand react pacakges
  renovate.json
Due: check

fix(repo): check-branch-name add dot in the pattern
  scripts/check-branch-name.ts
Due: check, typescript

fix(repo): update renovate
  renovate.json
Due: check

refactor(repo): imrove setup scripts
  biome.json
  bun.lock
  package-lock.json
  package.json
  scripts/cleanup.ts
  scripts/run.ts
  scripts/setup/cleanup.ts
  scripts/setup/config.ts
  scripts/setup/restart.ts
  scripts/setup/start.ts
  scripts/setup/stop.ts
Due: check, typescript

ci(repo): optimized github action
  .github/workflows/Check.yml
Due: check

ci(repo): optimize lefthook
  lefthook.yml
Due: check

ci(repo): optimize github action
  .github/workflows/Check.yml
Due: check

feat(repo): optimize dockerfiles sizes
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/blog/Dockerfile
  apps/storefront/Dockerfile
  packages/ui/Dockerfile
  packages/ui/package.json
Due: check

feat(repo): add affected script just for fun
  scripts/setup/affected.ts
Due: check, typescript

ci(repo): optimize github flow
  .github/workflows/Check.yml
Due: check

chore: update readme
  README.md
Due: check

chore(deps): update bun to v1.2.15
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  package.json
Due: check

chore: delete package lock
  package-lock.json
Due: check

fix: devcontainer ssh
  .devcontainer/devcontainer.json
  docker-compose.dev.yml
Due: check

fix: ui deps problem
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: check

fix: github actions
  .github/workflows/Check.yml
Due: check

fix: devcontainers ssh problem
  docker-compose.dev.yml
Due: check

fix: ui deps problem
  bun.lock
  packages/ui/package.json
  packages/ui/tsconfig.json
Due: check

fix: utils ts issue
  packages/ui/package.json
  packages/utils/package.json
  packages/utils/tsconfig.json
Due: check

feat: address of all the errors
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  apps/storefront/next.config.ts
  apps/storefront/tsconfig.json
  bun.lock
  package.json
  packages/config-typescript/nextjs.json
  packages/jest-presets/package.json
  packages/logger/package.json
  packages/logger/src/__tests__/log.test.ts
  packages/ui/package.json
  packages/ui/src/button/index.test.tsx
  packages/ui/src/counter-button/index.test.tsx
  packages/ui/src/link/index.test.tsx
  packages/ui/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.build.json
  packages/utils/tsconfig.json
  packages/utils/tsconfig.test.json
Due: check, typescript

fix: revert github action trigger rule
  .github/workflows/Check.yml
Due: check

refactor: rename check-types to check:types
  .devcontainer/devcontainer.json
  .github/workflows/Check.yml
  .vscode/settings.json
  README.md
  apps/admin/package.json
  apps/api/package.json
  apps/blog/package.json
  apps/storefront/package.json
  lefthook.yml
  package.json
  packages/logger/package.json
  packages/ui/package.json
  packages/utils/package.json
  scripts/setup/cleanup.ts
  scripts/setup/restart.ts
  scripts/setup/setup.ts
  scripts/setup/stop.ts
  turbo.json
Due: check, typescript

fix: biome erros
  .devcontainer/devcontainer.json
  .vscode/settings.json
  apps/admin/package.json
  apps/api/package.json
  apps/blog/package.json
  apps/storefront/package.json
  package.json
  packages/logger/package.json
  turbo.json
Due: check

refactor: remove duplication in prebuild scripts
  packages/ui/Dockerfile
  packages/ui/prebuild.ts
  packages/utils/package.json
  packages/utils/prebuild.ts
  scripts/prebuild.ts
Due: check, typescript

refactor: improve package.json scripts
  package.json
Due: check

fix: dockerfile.dev user
  Dockerfile.dev.base
  apps/admin/Dockerfile.dev
  apps/api/Dockerfile.dev
  apps/blog/Dockerfile.dev
  apps/storefront/Dockerfile.dev
Due: none

fix: sonarcloud complain
  package.json
  scripts/setup/setup.ts
Due: check, typescript

feat: add setup.dev and cleanup.dev
  bun.lock
  package.json
  scripts/setup/cleanup.dev.ts
  scripts/setup/setup.dev.ts
Due: check, typescript

fix: small issue
  scripts/setup/cleanup.ts
Due: check, typescript

refactor: migrate jest to bun
  .devcontainer/devcontainer.json
  .vscode/settings.json
  apps/api/package.json
  apps/api/src/__tests__/server.test.ts
  apps/api/tsconfig.json
  bun.lock
  bunfig.toml
  package.json
  packages/config-typescript/base.json
  packages/jest-presets/CHANGELOG.md
  packages/jest-presets/browser/jest-preset.mjs
  packages/jest-presets/node/jest-preset.mjs
  packages/jest-presets/package.json
  packages/logger/package.json
  packages/logger/src/__tests__/log.test.ts
  packages/logger/tsconfig.json
  packages/test-preset/happydom.ts
  packages/test-preset/matchers.d.ts
  packages/test-preset/test-setup.ts
  packages/test-preset/testing-library.ts
  packages/ui/bunfig.toml
  packages/ui/package.json
  packages/ui/src/button/index.test.tsx
  packages/ui/src/counter-button/index.test.tsx
  packages/ui/src/link/index.test.tsx
  packages/ui/tsconfig.json
  packages/utils/package.json
  packages/utils/src/cn.test.ts
  packages/utils/tsconfig.json
  scripts/tsconfig.json
Due: check, typescript

fix: biome errors
  packages/test-preset/matchers.d.ts
  packages/test-preset/test-setup.ts
  packages/test-preset/tsconfig.json
Due: check, typescript

fix: github actinos
  scripts/check-branch-name.ts
Due: check, typescript
