Repository movahedan/turbo-bun: changes, and which lefthook commands are due for each by the changed paths.
All: check, typescript

check:
  run: bunx @biomejs/biome check --write --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typescript:
  run: bun run check:types --affected

docs(repo): add environment variables documentation
  docs/10_ENTERPRISE_ENV_DEVELOPER_EXPERIENCE.md
  docs/9_ENVIRONMENT_VARIABLES.md
Due: check

docs: add some planning docs
  docs/planning/10_ENTERPRISE_ENV_DEVELOPER_EXPERIENCE.md
  docs/planning/11_ENTERPRISE_ENV_IMPLEMENTATION.md
  docs/planning/12_ENTERPRISE_ENV_ALTERNATIVES.md
  docs/planning/13_HASHICORP_VAULT_ZITADEL_IMPLEMENTATION.md
  docs/planning/14_HOBBY_PROJECT_ENV_SOLUTIONS.md
  docs/planning/15_FRAMEWORK_AGNOSTIC_AUTHENTICATION.md
  docs/planning/16_TODO_ROADMAP_PLANNING.md
  docs/planning/9_ENVIRONMENT_VARIABLES.md
Due: check

fix(ci): resolve docker dependency issues in github actions
  bun.lock
  package.json
  scripts/attach-affected-to-github-output.ts
Due: check, typescript

docs(repo): add comprehensive conventional commits rule
  .cursor/rules/conventional-commits.mdc
Due: none

docs(repo): improve script development rule with proper exports
  .cursor/rules/script-development.md
Due: check

docs(repo): add push prompt to conventional commits rule
  .cursor/rules/conventional-commits.mdc
Due: none

fix(ci): add dynamic port detection for docker services
  .github/workflows/Check.yml
  scripts/attach-service-ports-to-github-output.ts
Due: check, typescript

refactor(ci): improve dev container and ci infrastructure
  .cursor/rules/read-the-doc.mdc
  .devcontainer/Dockerfile.dev
  .devcontainer/Dockerfile.vscode
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .devcontainer/setup-docker.sh
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  apps/api/package.json
  apps/blog/package.json
  docs/AI_Prompt.md
  docs/planning/17_DEVCONTAINER_EXECUTION_SCRIPT.md
  package.json
  packages/ui/package.json
  packages/ui/tsconfig.build.json
  packages/ui/tsconfig.json
  packages/ui/turbo.json
  packages/ui/vite-entries.generated.json
  scripts/attach-affected-to-github-output.ts
  scripts/attach-service-ports-to-github-output.ts
  scripts/build-vite-library.ts
  scripts/check-branch-name.ts
  scripts/check-devcontainer.ts
  scripts/check-pipelines.ts
  scripts/cleanup.ts
  scripts/example-script.ts
  scripts/get-affected-services.ts
  scripts/get-service-info.ts
  scripts/github-attach-affected.ts
  scripts/github-attach-service-ports.ts
  scripts/setup.ts
  scripts/sync-vscode-config.ts
  scripts/tsconfig.json
  scripts/utils/affected.ts
  scripts/utils/commands.ts
  scripts/utils/docker-compose-parser.ts
Due: check, typescript

refactor(devcontainer): simplify docker configuration
  .devcontainer/Dockerfile.dev
  .devcontainer/Dockerfile.vscode
  .devcontainer/docker-compose.dev.yml
Due: check

docs(scripts): update scripting guide
  docs/5_SCRIPT_DEVELOPMENT_GUIDE.md
  scripts/build-vite-library.ts
  scripts/check-branch-name.ts
  scripts/check-devcontainer.ts
  scripts/check-pipelines.ts
  scripts/cleanup.ts
  scripts/example-script.ts
  scripts/get-affected-services.ts
  scripts/get-service-info.ts
  scripts/github-attach-affected.ts
  scripts/github-attach-service-ports.ts
  scripts/setup.ts
  scripts/sync-vscode-config.ts
  scripts/utils/affected.ts
  scripts/utils/arg-parser.ts
  scripts/utils/create-scripts.ts
Due: check, typescript

refactor(scripts,docs): remove centralized command finder
  .cursor/rules/conventional-commits.mdc
  .cursor/rules/script-development.md
  docs/5_SCRIPT_DEVELOPMENT_GUIDE.md
  docs/planning/17_DEVCONTAINER_EXECUTION_SCRIPT.md
  scripts/check-branch-name.ts
  scripts/check-pipelines.ts
  scripts/cleanup.ts
  scripts/example-script.ts
  scripts/get-affected-services.ts
  scripts/get-service-info.ts
  scripts/utils/arg-parser.ts
  scripts/utils/command-finder.ts
  scripts/utils/commands.ts
  scripts/utils/config.ts
  scripts/utils/create-scripts.ts
  scripts/utils/git-command.ts
Due: check, typescript

fix(ci): remove dev:status
  docs/1_DOCKER.md
  docs/AI_REPORT.md
  package.json
  scripts/cleanup.ts
  scripts/setup.ts
Due: check, typescript

fix: resolve jq syntax error in github actions pipeline
  .github/workflows/Check.yml
Due: check

refactor: improve affected packages detection and cleanup scripts
  scripts/affected.ts
  scripts/local-cleanup.ts
  scripts/utils/get-all-directories.ts
Due: check, typescript

fix: handle multiple docker compose port formats
  scripts/utils/docker-compose-parser.ts
Due: check, typescript

feat: add comprehensive technology badges to readme
  .cursor/rules/conventional-commits.mdc
  README.md
  docs/2_SETUP_FLOWS.md
Due: check

test: add test file for validation
  scripts/build-vite-library.ts
  test-file.txt
Due: check, typescript

fix: add optional chaining to prevent undefined error in arg parser
  scripts/utils/arg-parser.ts
Due: check, typescript

fix: run check:fix from root directory in build script
  scripts/build-vite-library.ts
  test-file.txt
Due: check, typescript

fix: use bunx for biome check in build script to avoid script dependency
  scripts/build-vite-library.ts
Due: check, typescript

docs: fix broken links and obvious mistakes in documentation
  README.md
  docs/2_SETUP_FLOWS.md
  docs/3_DEV_FLOWS.md
  docs/7_BUILD_VITE_LIBRARY.md
  docs/AI_Prompt.md
  docs/AI_REPORT.md
  docs/TESTING.md
  package.json
Due: check

chore: improve minor namings
  docs/4_SCRIPTING.md
  scripts/ci-branchname.ts
Due: check, typescript

refactor(repo): rename bun.lock to bun.lockb
  .cursor/rules/conventional-commits.mdc
  .devcontainer/docker-compose.dev.yml
  .devcontainer/setup-docker.sh
  .github/workflows/Check.yml
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/storefront/Dockerfile
  biome.json
  bun.lock
  bun.lockb
  packages/ui/Dockerfile
Due: check

refactor: remove remix blog app and update documentation
  .devcontainer/docker-compose.dev.yml
  .npmrc
  README.md
  apps/blog/.gitignore
  apps/blog/CHANGELOG.md
  apps/blog/Dockerfile
  apps/blog/README.md
  apps/blog/app/root.tsx
  apps/blog/app/routes/_index.tsx
  apps/blog/app/routes/edge.tsx
  apps/blog/app/styles.css
  apps/blog/package.json
  apps/blog/public/favicon.ico
  apps/blog/tsconfig.json
  apps/blog/vite.config.ts
  bun.lockb
  docker-compose.yml
  docs/0_QUALITY_CHECKLIST.md
  docs/1_INSTALLATION_GUIDE.md
  docs/2_SETUP_FLOWS.md
  docs/3_DEV_FLOWS.md
  docs/5_DOCKER.md
  docs/AI_REPORT.md
  docs/TESTING.md
  docs/planning/11_ENTERPRISE_ENV_IMPLEMENTATION.md
  docs/planning/15_FRAMEWORK_AGNOSTIC_AUTHENTICATION.md
  docs/planning/16_TODO_ROADMAP_PLANNING.md
  packages/config-typescript/TSCONFIG.md
  packages/config-typescript/remix.json
  scripts/update-package-json.ts
Due: check, typescript

fix: resolve docker build pipeline lockfile issue
  .cursor/rules/conventional-commits.mdc
  .devcontainer/docker-compose.dev.yml
  .devcontainer/setup-docker.sh
  .github/workflows/Check.yml
  .github/workflows/Main.yml
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/storefront/Dockerfile
  biome.json
  bun.lock
  bun.lockb
  packages/ui/Dockerfile
Due: check

feat: configure json lockfile as default behavior
  README.md
  bun.lock
  bunfig.toml
  docs/3_DEV_FLOWS.md
Due: check

chore: update bun verssion
  .devcontainer/Dockerfile.dev
  .github/workflows/Check.yml
  .github/workflows/Main.yml
Due: check

fix(ui): biome errors
  packages/ui/src/card/card.tsx
  packages/ui/src/input/input.tsx
  packages/ui/src/label/label.tsx
  packages/ui/tsconfig.json
Due: check, typescript

fix(scripts): remove trailing comma in object destructuring
  scripts/local-vscode.ts
Due: check, typescript

fix(ui): linter issues
  packages/ui/src/card/card.tsx
  packages/ui/src/input/input.tsx
  packages/ui/src/label/label.tsx
  packages/ui/tsconfig.json
Due: check, typescript

refactor: improve docker-compose parser and related scripts
  scripts/affected.ts
  scripts/ci-attach-service-ports.ts
  scripts/dev-check.ts
  scripts/dev-setup.ts
  scripts/utils/docker-compose-parser.ts
  scripts/utils/get-all-directories.ts
Due: check, typescript

feat: centralize test dependencies and improve coverage
  apps/api/package.json
  bun.lock
  bunfig.toml
  package.json
  packages/logger/package.json
  packages/test-preset/package.json
  packages/ui/bunfig.toml
  packages/ui/package.json
  packages/ui/src/card/card.test.tsx
  packages/ui/src/login-form/login-form.test.tsx
  packages/utils/package.json
Due: check, typescript

refactor: update devcontainer and ci/cd configuration
  .devcontainer/Dockerfile.dev
  .devcontainer/Dockerfile.vscode
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .devcontainer/setup-docker.sh
  .github/workflows/Check.yml
  .github/workflows/Main.yml
Due: check

refactor(docker): remove unnecessary expose and env declarations
  apps/admin/Dockerfile
  apps/api/Dockerfile
  apps/storefront/Dockerfile
  packages/ui/Dockerfile
Due: none

refactor(dev): update development scripts for container compatibility
  apps/admin/package.json
  apps/api/package.json
  apps/storefront/package.json
  packages/ui/package.json
Due: check

refactor(build): optimize turbo configuration for development workflow
  turbo.json
Due: check

chore(scripts): improve script execution and logging
  scripts/example-script.ts
  scripts/update-package-json.ts
Due: check, typescript

chore(deps): update development dependencies and configurations
  apps/admin/vite.config.ts
  apps/api/src/index.ts
  apps/api/tsup.config.ts
  bun.lock
  package.json
  packages/ui/.storybook/main.ts
  packages/ui/scripts/dev.ts
Due: check, typescript

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,html,css,md,mdx,yaml,yml}
  typescript: any of: *.{ts,tsx}
